{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
<section class="card-body">
  <h1 class="display-1 text-center">Django Crud con Autenticacion</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur iste maiores accusamus atque earum autem ex laudantium quis minus quasi distinctio doloribus magni, mollitia, reprehenderit libero blanditiis eum dolor saepe.</p></section>
<div class="text-center">
  <a class="btn btn-primary" href="/signin">
    Signin
  </a>
  <a class="btn btn-primary" href="signup">
    Sigup
  </a>

</div>
</main>
{% endblock %}
